.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px #000;
	@media screen and (max-width: 768px) {
		height: 100vh;
		padding: 0 20px;
	}
}

.underConstruction {
	// font-size: 2rem;
	// margin-bottom: 20px;
  line-height: 1.25;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-block-end: 0.75rem;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
	// font-size: 1.5rem;
	// margin-bottom: 10px;
}
