.option {
	flex: 1;
	padding-block: 6px;
	border: 1px solid var(--border);
	border-radius: var(--radius-sm);
	font-size: 0.75rem;
	color: var(--muted);
	transition: color 0.2s, border-color 0.2s, background-color 0.2s;

	&:hover {
		color: var(--text);
		border-color: var(--text);
	}
}

.optionActive {
	background-color: var(--selected);
	border-color: var(--text);
	color: var(--text);
}
