@use 'mixins/spacing' as *;

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: spacing(1);
}

.tag {
	display: inline-block;
	padding: spacing(0.5) spacing(1.5);
	background-color: var(--color-border);
	border-radius: 100px;
	font-size: 0.85rem;
	color: var(--color-text-muted);
}
