@use 'mixins/media' as *;

.wrapper {
	display: flex;
	align-items: center;
}

.trigger {
	display: flex;
	align-items: center;
	padding: 0;
	color: var(--muted);
	height: 100%;
	transition: color 0.2s;

	&:hover,
	&.active {
		color: var(--text);
	}

  @include media-below('tablet') {
		padding: 0 20px;
	}
}

.panel {
	position: absolute;
	inset-block-end: 100%;
	inset-inline-end: 0;
	z-index: var(--z-overlay);
	min-width: 220px;
	background-color: var(--surface);
	border: 1px solid var(--border);
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
