.editor {
	flex: 1;
	display: flex;
	gap: 40px;
	padding: 12px 40px;
	line-height: 1.5;
	color: var(--muted);
	overflow-y: auto;
	border-right: 1px solid var(--border);
}

.lineNumbers {
	text-align: right;
	color: var(--muted);
	user-select: none;
	flex-shrink: 0;
}

.lineNumber {
	display: block;
}

.codeContent {
	flex: 1;
	white-space: pre-wrap;
}
