@use 'mixins/media' as *;

.editor {
	flex: 1;
	display: flex;
	gap: 40px;
	padding: 12px 40px;
	line-height: var(--a11y-line-height, 1.5);
	color: var(--muted);
	overflow-y: auto;
	border-right: 1px solid var(--border);

	@include media-below('tablet') {
		gap: 16px;
		padding: 12px 16px;
		border-right: none;
	}
}

.lineNumbers {
	text-align: right;
	color: var(--muted);
	user-select: none;
	flex-shrink: 0;
}

.lineNumber {
	display: block;
}

.codeContent {
	flex: 1;
	white-space: pre-wrap;
}
