@use 'mixins/spacing' as *;

.footer {
	display: flex;
	align-items: center;
	gap: spacing(1);
	padding: spacing(0.5) spacing(3);
	padding-block-end: spacing(1.5);
	background-color: var(--bg);
}

.viewButton {
	margin-inline-start: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: spacing(1) spacing(1.5);
	background-color: #45556c;
	border-radius: var(--radius-md);
	color: var(--text);
	cursor: pointer;
	border: none;
	font-family: inherit;
	white-space: nowrap;
	transition: background-color 0.2s;

	&:hover {
		background-color: #536277;
	}
}
