@use 'mixins/media' as *;

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

// ─── Projects Grid ─────────────────────────────────────────────────────────────

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	padding: 64px;
	overflow-y: auto;
	flex: 1;
	align-content: flex-start;

	@include media-below('tablet') {
		padding: 24px 16px;
		gap: 24px;
	}
}

.empty {
	flex: 1;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 64px;
	color: var(--muted);

	@include media-below('tablet') {
		padding: 24px 16px;
	}
}
