@use 'mixins/media' as *;
@use 'mixins/spacing' as *;

.socialBar {
	display: flex;
	align-items: stretch;
	border-block-start: 1px solid var(--border);
	background-color: var(--surface);
	height: var(--social-bar-height);
	flex-shrink: 0;
  position: relative;
}

.left {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 0 24px;
	flex: 1 0 auto;
	container-type: size;
	overflow-y: hidden;
	@include media-below('tablet') {
		padding-inline-end: 0;
	}
}

.socialLinksList {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.label {
	font-size: 0.929rem;
	color: var(--muted);
	&.hideLabelInMobile {
		@include media-below('tablet') {
			display: none;
		}
	}
}
.iconWrapper {
	--icon-wrapper-border: 1px solid var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 5px;
	height: 115cqh;
	aspect-ratio: 1 / 1;
	color: var(--muted);

	border-inline-end: var(--icon-wrapper-border);

	.socialLinksList & {
		&:first-child {
			.left & {
				border-inline-start: var(--icon-wrapper-border);
			}
		}
		.right & {
			border: none;
		}
	}
}

.iconLink {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--muted);
	transition: color 0.2s;
	&:hover {
		color: var(--text);
	}
}

.right {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 24px;
	border-inline-start: 1px solid var(--border);
	@include media-below('tablet') {
		padding: 0;
	}
}

.privacyLink {
	display: flex;
	align-items: center;
	font-size: 0.8125rem;
	color: var(--muted);
	text-decoration: none;
	transition: color 0.2s;
	padding: 0 spacing(2);
	border-inline-start: 1px solid var(--border);

	&:hover {
		color: var(--text);
	}

	@include media-below('tablet') {
		display: none;
	}
}

.username {
	font-size: 0.929rem;
	color: var(--muted);
	transition: color 0.2s;
	display: flex;
	align-items: center;
	gap: 8px;

	&:hover {
		color: var(--text);
	}
}
