@use 'mixins/media' as *;
@use 'mixins/normalize-to-grid' as *;

.sidebar {
	width: #{normalize-to-grid(69px)};
	border-inline-end: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px 0;
	gap: 32px;
	flex-shrink: 0;

	@include media-below('tablet') {
		display: none;
	}
}
