:root {
  --primary-dark: #3D348B;
  --primary-light: #7678ED;
  --neutral: #F7B801;
  --secondary-light: #F18701;
  --secondary-dark: #F35B04;
  --text-color: #FFFFFF;

  --letter-correct: #00FF00;
  --letter-incorrect: #FF0000;

  /* spacing */
  --word-spacing: 1rem;
}

body {
  background-color: var(--primary-dark);
  color: var(--text-color);
}