$emptyInput: 'input[type="text"]:not(:placeholder-shown)';

.letter {
  color: var(--neutral);
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
  text-transform: uppercase;
  &:focus-within {
    background-color: var(--primary-light)
  }
  // &.found:has(#{$emptyInput}) {
  &.found {
    color: forestgreen;
  }
  &.incorrect:has(#{$emptyInput}) {
    color: red;
    animation: 300ms shake ease-in-out;
  }
  &.solved:has(#{$emptyInput}) {
    color: lime;
  }
}

.letterInput {
  border-block-end: 1px solid;
  max-width: 1em;
  text-align: center;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-0.5rem); }
  50% { transform: translateX(0.5rem); }
  75% { transform: translateX(-0.5rem); }
  100% { transform: translateX(0); }
}