
.punctuation {
  color: var(--neutral);
  // border: 1px solid;
  display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
  margin-inline-end: var(--word-spacing);
  &.noSpacing {
    margin-inline-end: 0;
  }
}
